<mat-card>
    <mat-card-header>
      <h2 class="profile-header">Create subscription</h2>
    </mat-card-header>

    <form #verificationEmailForm="ngForm">
      <div mat-dialog-content>
        <div>
          <mat-form-field>
            <input matInput type="text" 
              class="form-contol"
              id="topic" 
              name="topic" 
              placeholder="Topic" 
              [(ngModel)]="topic"
              [ngModelOptions]="{standalone: true}" 
              disabled />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input 
              matInput 
              type="text" 
              class="form-contol"
              id="topicArn" 
              name="topicArn" 
              placeholder="Topic Arn" 
              [(ngModel)]="topicArn"
              [ngModelOptions]="{standalone: true}" 
              disabled />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input 
              matInput 
              type="text" 
              class="form-contol" 
              id="subscriptionPhone" 
              name="subscriptionPhone" 
              placeholder="Subscription Phone" 
              [(ngModel)]="subscriptionPhone"
              [ngModelOptions]="{standalone: true}" 
              #phone="ngModel" 
              pattern="^[\+][0-9]{11,15}$"
              required />
            <div *ngIf="phone.invalid && phone.dirty && phone.touched">
              <div class="error-message" *ngIf="phone.errors.required">
                Phone is required.
              </div>
              <div class="error-message" *ngIf="phone.errors.pattern">
                Please enter a valid Phone.
              </div>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="buttons-container">
        <button mat-button (click)="onNoClick()">
          Back
        </button>
        <button mat-raised-button color="primary" [mat-dialog-close]="subscriptionPhone" [disabled]="phone.invalid" cdkFocusInitial>
          Create subscription
        </button>
      </div>
    </form>
  </mat-card>