<app-fix-dialog [(show)]="showIssueModal" [item]="actionItem" (onClose)="onIssueDialogClose($event)">
</app-fix-dialog>
<div *ngIf="showModal" class="popup-modal">

  <div class="modal-content notification-modal" *ngIf="showNotificationModal">
    <div class="note-heading">
      <span>Notification Sent to teammate</span>
      <img src="./assets/images/close-icon.svg" (click)="toggleModal(); toggleNotificationModal()">
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="toggleModal(); toggleNotificationModal()">Ok</button>
    </div>
  </div>
</div>

<div class="row no-margin">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div>
        <div class="tile-content">
          <p class="card-header">Perform Visual Inspection</p>
        </div>
        <div class="tile-action first" (click)="toggleIssueModal({type:'QF'})" [ngClass]="{'green':(quickFix && quickFix.issueResolved), 'red':(quickFix && !quickFix.issueResolved)}">
          <span *ngIf="!quickFix">I did this</span>
          <img src="./assets/images/checkmark.svg" *ngIf="quickFix && quickFix.issueResolved">
          <img src="./assets/images/close-icon-white.svg" *ngIf="quickFix && !quickFix.issueResolved">
        </div>

      </div>
      <div class="full-divider"></div>
      <div class="row action-item">
        <div class="tile-content col-2" *ngIf="location_text == 'Motor'">
          <p class="card-header">1.</p>
          <p class="card-header">2.</p>
          <p class="card-header">3.</p>
        </div>
        <div class="tile-content col-10" *ngIf="location_text == 'Motor'">
          <p class="step-description">Motor vibrations are above limit</p>
          <p class="step-description">Possibility of bent bearing shaft</p>
          <p class="step-description">Check motor mounts</p>
        </div>

        <div class="tile-content col-2" *ngIf="(location_text == 'Gearbox' )">
          <p class="card-header">1.</p>
          <p class="card-header">2.</p>
          <p class="card-header">3.</p>
          <p class="card-header">4.</p>
        </div>
        <div class="tile-content col-10" *ngIf="(location_text == 'Gearbox' )">
          <p class="step-description">Bearing temperature above limit (170 deg F)</p>
          <p class="step-description">Possibility of bent bearing shaft</p>
          <p class="step-description">Check Gearbox</p>
          <p class="step-description">Lubrication fluid leaking from gearbox due to gasket material failure</p>
        </div>
      
        <p class="card-body" *ngIf="(location_text != 'Motor' && location_text != 'Gearbox' )">
          1. Divert package flow to Sorter 1</p>

      </div>
    </div>
    <div class="card">
      <div>
        <div class="tile-content">
          <p class="card-header">{{actionsTitle}}</p>
        </div>
        <div *ngIf="actionsType!='T1' && actionsType!='T2'" class="tile-action first" (click)="toggleIssueModal({type:'TOP'})" [ngClass]="{'green':(topFix && topFix.issueResolved), 'red':(topFix && !topFix.issueResolved)}">
          <span *ngIf="!topFix">I did this</span>
          <img src="./assets/images/checkmark.svg" *ngIf="topFix && topFix.issueResolved">
          <img src="./assets/images/close-icon-white.svg" *ngIf="topFix && !topFix.issueResolved">
        </div>
      </div>
      <div class="full-divider"></div>
      <div *ngFor="let item of actions; let i = index">
        <div class="row action-item">
          <div class="tile-content col-2">
            <p class="card-header">{{i+1}}.</p>
          </div>
          <div class="tile-content col-10">
            <p class="step-description">{{item.description}}</p>
          </div>

          <div *ngIf="actionsType=='T1'||actionsType=='T2'" class="tile-action col-2 first" (click)="toggleIssueModal({type:'CHILD',index:i})" [ngClass]="{'green':(item.issueResolved && item.issueResolved==1), 'red':(item.issueResolved && item.issueResolved==2)}">
            <span *ngIf="!item.issueResolved">I did this</span>
            <img src="./assets/images/checkmark.svg" *ngIf="item.issueResolved && item.issueResolved==1">
            <img src="./assets/images/close-icon-white.svg" *ngIf="item.issueResolved && item.issueResolved==2">
          </div>
        </div>
        <div class="sub-steps">
          <app-action-steps [items]="item.children" titleKey="description">
          </app-action-steps>
        </div>
        <div *ngIf="actionsType && actionsType!='A'" class="full-divider"></div>
      </div>


      <!--
      <div class="card-body">
        <div class="issue-title" *ngFor="let item of actions; let i = index">
          <div class="tile-content" style="width:100%">
            <span class="card-header">{{i+1}}.</span>
            <span>{{item.description}}</span>


            <app-action-steps [items]="item.children" titleKey="description">

            </app-action-steps>


          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header first">
        <span class="">Team Assignment </span>
        <button class="round-button white-black" (click)="toggleNotificationModal(); assignTeammate();">Assign Maintenance</button>
      </div>
      <div class="divider"></div>
      <div class="card-header">
        <ng-container *ngFor="let t of teamData; let i = index">
          <div class="teammate-container" *ngIf="!t.assigned">
            <img class="clickable" src="{{getCircleIcon(t.checked)}}" (click)="t.checked=!t.checked;">
            <img class="user-photo" src="{{t.imageUrl}}">
            <span>{{t.name}}</span>
          </div>
        </ng-container>
      </div>
        
      <!-- <div class="card-header">
        <p>Required Parts</p>
      </div>
      <div class="divider"></div>
      <div class="card-body">
        <div class="parts-container" *ngFor="let p of partsData;">
          <img src="{{p.imageUrl}}">
          <div class="info-text-container">
            <div><span class="part-name">{{p.name}}</span></div>
            <div><span class="part-status">{{p.status}}</span></div>
            <div><span class="part-info">{{p.info}}</span></div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>
