.action-item{
    border-bottom-width: 1px;
    border-bottom-color: black;
    margin-left:0px;
    margin-right:0px;
}
.step-description{
    padding-top:24px;
    font-size: 14px;
}
.sub-steps{
    background: #E5E6E5;
}
.card-header{
    display:inline-block;
}

.card-header {
    display: block;
    margin-bottom: 1rem;
}