<div class="top-heading">
	<div class="heading-title">
		<span>Search Results</span>
	</div>
	<div class="heading-subtitle">
		<span>Results for "487334-2"</span>
	</div>
</div>
<div class="info-panel row">
	<div class="col">
		<p class="grey-text">Manufacturer</p>
		<p class="white-text">ManufacturerX</p>
	</div>
	<div class="col">
		<p class="grey-text">Model</p>
		<p class="white-text">487334-2</p>
	</div>
	<div class="col">
		<p class="grey-text">Asset Type</p>
		<p class="white-text">Variable-Frequency Drive</p>
	</div>
	<div class="col">
		<p class="grey-text">Lot(s) Installed</p>
		<p class="white-text">7776729, 7776731</p>
	</div>
</div>

<div class="row">
	<div class="col">
	  <div class="card">
	    <div class="card-header first">
	      <span>Percent of Asset Type: Variable-Frequency Drive</span>
	    </div>
	    <div class="divider"></div>
	    <!-- <div class="chart-container">
	      <canvas baseChart [data]="doughnutChartData" [colors]="doughnutChartColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
	        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" [options]="doughnutChartOptions">
	      </canvas>
	    </div> -->
	  </div>
	  <div class="card">
	    <div class="card-header first">
	      <span>Percent of Asset Type: Variable-Frequency Drive</span>
	    </div>
	    <div class="divider"></div>
	    <!-- <div class="line-chart-container">
	     	<nvd3  [options]="horizontalBarChartOptions" [data]="horizontalBarChartData"></nvd3>
	    </div> -->
	  </div>
	</div>
	<div class="col">
	<div class="card black-card"> 
		<div class="card-header">
	        <span>Status of Assets: Model 487334-2</span>
	    </div>
	    <div class="divider"></div>
	    <table>
	    	<tr class="table-head">
	    		<th>Asset</th>
	    		<th>LOT#</th>
	    		<th>INSTALL DATE</th>
	    		<th>STATUS</th>
	    	<tr>
	    	<tr>
	    		<td>Motor 1</td>
	    		<td>776729</td>
	    		<td>08/01/2017</td>
	    		<td class="status-text">Ok</td>
	    	</tr>
	    	<tr>
	    		<td>Motor 2</td>
	    		<td>776729</td>
	    		<td>08/01/2017</td>
	    		<td class="status-text">Ok</td>
	    	</tr>
	    	<tr>
	    		<td>Motor 3</td>
	    		<td>776731</td>
	    		<td>06/28/2017</td>
	    		<td class="status-text">Ok</td>
	    	</tr>
	    	<tr>
	    		<td>Motor 4</td>
	    		<td>776731</td>
	    		<td>06/09/2017</td>
	    		<td class="status-text">Replaced at 0.7yr</td>
	    	</tr>
	    	<tr>
	    		<td>Motor 6</td>
	    		<td>776731</td>
	    		<td>05/18/2017</td>
	    		<td class="status-text">Alert</td>
	    	</tr>
	    </table>
	</div>
</div>

<div class="related-section">
	<div class="">
		<div class="card"> 
			<div class="card-header">
		        <span>Related Alerts and Technician Comments</span>
		    </div>
		    <div class="divider"></div>
		    <table>
		    	<tr class="table-head">
		    		<th>Date</th>
		    		<th>Asset</th>
		    		<th>DOCUMENTATION</th>
		    	<tr>
		    	<tr>
		    		<td>07/28/2017</td>
		    		<td>Motor 6</td>
		    		<td><u>Alert:</u>Predict_Failure</td>
		    	</tr>
		    	<tr>
			    	<td>07/28/2017</td>
			    	<td>Motor 6</td>
			    	<td><u>Comment:</u>Sorter 2 jam-possible damage</td>
		    	</tr>
		    	<tr>
		    		<td>07/25/2017</td>
		    		<td>Motor 12</td>
		    		<td><u>Alert:</u>Predict_Failure</td>
		    	</tr>
		    	<tr>
		    		<td>07/21/2017</td>
		    		<td>Motor 13</td>
		    		<td><u>Alert:</u>Predict_Failure</td>
		    	</tr>
		    	<tr>
		    		<td>05/26/2017</td>
		    		<td>Motor 6</td>
		    		<td><u>Comment:</u>Replaced belt due to high current draw</td>
		    	</tr>
		    </table>
		</div>
	</div>
</div>
