.top-heading{
	margin: 30px 0 20px 20px;
	font-family: Roboto;
	color: white;
	.heading-title{
		font-size: 24px;
		font-weight: bold;
	}
	.heading-subtitle{
		font-size: 18px;
		color: #D8D8D8;
	}
}
.info-panel{
	height: 100px;
	background: #424242;
	font-family: Roboto;
	font-size: 18px;
	div{
		margin-left:15px;
		padding: 15px;
		border-right: 1px solid black;
	}
	.white-text{
		color: white;
	}
	.grey-text{
		color: #D8D8D8;
	}
}
.chart-container{
    position: relative;
    height:400px;
    width:500px;
}
.line-chart-container{
	position: relative;
	padding:20px;
    
}

.related-section{
	width: 100%;
	padding: 0 15px;
	.card{
		margin-top: 5px;
	}
}