<mat-card class="example-card">
  <toaster-container></toaster-container>
  <mat-card-header>
    <h2 class="profile-header">Topic details: {{topic}}</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="profile-container">
      <div class="container user-group-container">
        <span class="user-group">
          <button type="button" (click)="createSubscription()" class="btn btn-info btn-lg new-ses-btn">
            Create subscription
          </button>
        </span>
      </div>
      <div *ngIf="subscriptionsList.length > 0" class="container my-users-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Subscription ID</th>
              <th scope="col">Protocol</th>
              <th scope="col">Endpoint</th>
              <th scope="col">Subscriber</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subscriptions of subscriptionsList; let i = index">
              <td scope="row">{{subscriptions.SubscriptionArn}}</td>
              <td>{{subscriptions.Protocol}}</td>
              <td>{{subscriptions.Endpoint}}</td>
              <td>{{subscriptions.Owner}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
