<app-page-header></app-page-header>
<app-modal-dialog [(show)]="modalVisible" [message]="modalMessage"></app-modal-dialog>
<div class="row main-cards-container justify-content-center no-margin">
   <div class="info-card-box" *ngFor="let item of alertList">
    <app-info-card [item]="item"></app-info-card>
  </div>
</div>