<div *ngIf="show" class="popup-modal">
  <div class="modal-content notification-modal">
    <div class="note-heading">
      <span>{{message}}</span>
      <img src="./assets/images/close-icon.svg" (click)="toggleModal()">
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="toggleModal()">Ok</button>
    </div>
  </div>
</div>