<mat-card class="example-card">
  <toaster-container></toaster-container>
  <mat-card-header>
    <h2 class="profile-header">SES Email address</h2>
  </mat-card-header>

  <mat-card-content>
    <div class="profile-container">
      <div class="container user-group-container">
        <span class="user-group">
          <button type="button" (click)="verifyNewEmail()" class="btn btn-info btn-lg new-email-btn">
            Verify a New Email Address
          </button>
        </span>
      </div>
      <div *ngIf="identitiesList.length > 0" class="container my-users-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Email Address Identities</th>
              <th scope="col">Verification Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let identities of identitiesList; let i = index">
              <td scope="row">{{identities.name}}</td>
              <td>{{identities.status}}</td>
              <td>
                <button type="button" (click)="deleteIdentity(identities.name)" class="btn btn-danger float-right">
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
