<div class="container">
  <div *ngFor="let item of items" class="timeline-item" [attr.date-is]="item[titleKey]">
    <!-- <strong *ngIf="boldTitles">{{item[subTitleKey]}}</strong>
    <p *ngIf="!boldTitles">{{item[subTitleKey]}}</p>
     -->
  </div>
</div>
