

.container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
	
}

// ----------------  THE FONTS

$border-color: #079936;
$circle-color: #079936;
.timeline-item {
	
	padding: 20px;
	position: relative;
	color: rgba(black, .7);
	border-left: 2px solid $border-color;
	
	p {
		font-size: 1rem;
	}
	
	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
        display: block;
        color:#808080;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 14;
	}

	&::after {
		width: 12px;
		height: 12px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 12px;
		content: '';
		border: 1px solid $circle-color;
		background: $circle-color;
	}

}