<div class="container">
  <div class="row">
    <div class="col-2">
      <!-- <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li>
                    <a [routerLink]="['/securehome/myprofile']">
                      <i class="fa fa-user fa-fw"></i>
                      User Profile
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a [routerLink]="['/securehome/logout']">Logout</a>
                  </li>
                </ul>
              </li>
            </ul> -->
      <nav class="nav flex-column nav-pills nav-container">
        <a class="btn btn-secondary btn-lg" role="button" [routerLink]="['/securehome/myprofile']">
          My Profile
        </a>
        <a class="btn btn-secondary btn-lg" role="button" [routerLink]="['/securehome/ses']">
          SES
        </a>
        <a class="btn btn-secondary btn-lg" role="button" [routerLink]="['/securehome/sns']">
          SNS
        </a>
        <a class="btn btn-secondary btn-lg" role="button" [routerLink]="['/securehome/register']">
          Create User
        </a>
        <!-- <a class="btn btn-secondary btn-lg" role="button" [routerLink]="['/securehome/jwttokens']">
              JWT Tokens
            </a> -->
        <!-- <a class="btn btn-secondary btn-lg" role="button" [routerLink]="['/securehome/useractivity']">
              Login Data
            </a> -->
      </nav>
    </div>
    <div class="col-10">
      <div id="users-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- <div class="user-nav-container">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Home 44</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
    </div> -->
</div>
