<div class="spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
<mat-card class="example-card">
  <toaster-container></toaster-container>
  <mat-card-header>
    <h2>Sensors List</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="container user-group-container">
      <span class="user-group">
        <button type="button" (click)="addSensor()" class="btn btn-info add-btn">
          Add sensor
        </button>
      </span>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let alert of alertList; let i = index" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sensor: {{alert.sensor}} Conveyor: {{alert.conveyor}}
          </mat-panel-title>
          <mat-panel-description>
            {{alert.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="7" rowHeight="150px">
          <mat-grid-tile class="tile-tresholds" [colspan]="3">
            <ul class="list-group sensor-tresholds">
              <li class="list-group-item active">Temperature</li>
              <li class="list-group-item" *ngFor="let temperature of alert['temperature']">
                {{temperature}}
              </li>
            </ul>
          </mat-grid-tile>
          <mat-grid-tile class="tile-tresholds" [colspan]="3">
            <ul class="list-group sensor-tresholds">
              <li class="list-group-item active">RMS velocity</li>
              <li class="list-group-item" *ngFor="let rms_acceleration of alert['rms_acceleration']">
                {{rms_acceleration}}
              </li>
            </ul>
          </mat-grid-tile>
          <mat-grid-tile class="buttons-container">
            <button type="button" (click)="editSensor(alert)" class="btn btn-primary">
              Edit
            </button>
            <button type="button" (click)="deleteSensor(alert)" class="btn btn-danger">
              Delete
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>