<mat-card class="example-card">
  <toaster-container></toaster-container>
  <mat-card-header>
    <h2>Edit user: {{username}}</h2>
  </mat-card-header>
  <mat-card-content>
    <form #editForm="ngForm">
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            class="form-contol"
            id="name" 
            name="name"
            placeholder="Name"
            [(ngModel)]="user.name"
            [ngModelOptions]="{standalone: true}"
            disabled />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            class="form-contol"
            id="email" 
            name="email"
            placeholder="Email"
            [(ngModel)]="user.email"
            [ngModelOptions]="{standalone: true}"
            #email="ngModel"
            pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
						required />
          
          <div *ngIf="email.invalid && email.dirty && email.touched">
            <div class="error-message" *ngIf="email.errors.required">
              Email is required.
            </div>
            <div class="error-message" *ngIf="email.errors.pattern">
              Please enter a valid Email.
            </div>
          </div>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            class="form-contol"
            id="phone" 
            name="phone"
            placeholder="Phone Number"
            [(ngModel)]="user.phone_number"
            [ngModelOptions]="{standalone: true}"
            #phone="ngModel"
            pattern="^[\+][0-9]{11,15}$"
            required />

          <div *ngIf="phone.invalid && phone.dirty && phone.touched">
            <div class="error-message" *ngIf="phone.errors.required">
              Phone number is required.
            </div>
            <div class="error-message" *ngIf="phone.errors.pattern">
              Please enter a valid Phone number.
            </div>
          </div>
        </mat-form-field>
      </div>

      <div>
        <span class="subscription-label">Subscription*</span>

        <ngb-timepicker 
          [(ngModel)]="user.subscription"
          [ngModelOptions]="{standalone: true}"
          [meridian]="meridian"
          #subscription="ngModel"
          required >
        </ngb-timepicker>

        <div *ngIf="subscription.invalid && subscription.dirty && subscription.touched">
          <div class="error-message" *ngIf="subscription.errors.required">
            Subscription is required.
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <button
          mat-button
          (click)="back()"
          class="back-btn">
          Back
        </button>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          (click)="edit()"
          [disabled]="!editForm.form.valid" >
          Update user
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>