.info-card {
  font-family: Roboto;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  cursor: pointer;
  .info-card-title {
    background: rgba(#000000, 0.25);
    border-top-left-radius: 6px;
    .title-text {
      font-weight: bold;
      font-size: 24px;
      padding: 12px 6px 12px 6px;
      margin: 0;
      &.right-corner {
        font-weight: normal;
        opacity: 0.90;
      }
    }
    &.right-corner {
      border-top-right-radius: 6px;
      background: rgba(#000000, 0.1);
    }
  }
  .info-card-container {
    position: relative;
    padding: 12px;
    .equipment-icon {
      position: absolute;
      width: 125px;
      right: 12px;
      opacity: 0.30;
      &.dark {
        opacity: 0.1;
      }
    }
    .info-card-text {
      padding: 6px;
      &.timer {
        margin-bottom: 0px;
      }
      &.description {
        font-size: 16px;
      }
      &.bottom {
        position: absolute;
        bottom: 0;
        font-size: 16px;
      }
    }
    .info-card-bold-text {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 18px;
      &.mid-section {
        margin-bottom: 10px;
      }
    }
    &.bottom {
      height: 140px;
    }
  }
}

.my-button {
  text-align: center;
  font-family: Roboto;
  font-weight: Bold;
  color: white;
  border: none;
  cursor: pointer;
  &.primary {
    width: 100%;
    display: block;
    height: 50px;
    margin: auto;
    font-size: 14px;
    border-radius: 100px;
  }
  &.secondary {
    width: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    height: 35px;
    font-size: 12px;
    justify-content: center;
    &.right-btn {
      border-right: 1px solid black;
    }
    &.left-btn {
      border-left: 1px solid black;
    }
  }
}

.info-card-bottom {
  display: flex;
  margin-top: 20px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}