<div class="info-card fade-in"
  [ngClass]="{'priority-1':(item.priority==1), 'priority-2':(item.priority==2), 'priority-3':(item.priority==3), 'priority-4':(item.priority==4)}"
  (click)="goToAlertConveyor(item)">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  info-card-title">
        <p class="title-text">{{item.conveyor}}</p>
      </div>
    </div>
  </div>
  <div class="info-card-container bottom">
    <div class="equipment-icon" [ngClass]="{'dark':(item.priority==2 || item.priority==4)}">
      <img src="{{cardImage}}">
    </div>
    <div class="info-card-text text-uppercase bottom">
      <span>{{groupsName}}</span> 
    </div>
  </div>
</div>
