.main-cards-container{
	padding: 20px;
}

.info-card-box{
	width: 300px;
	margin: 0 15px 30px 15px;
}

.header-mat-tab {
	.example-tab-icon {
		margin-right: 8px;
	}
}

.main-cards-container {
	background-color: black;
}
