<app-page-header></app-page-header>
<app-modal-dialog [(show)]="modalVisible" [message]="modalMessage"></app-modal-dialog>

<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selectTabIndex($event)" class="header-mat-tab">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="list-icon" svgIcon="list-icon"></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="row main-cards-container justify-content-center no-margin">
        <div class="info-card-box" *ngFor="let item of alertList">
          <app-conveyor-card [item]="item" [groupsName]="groupsName"></app-conveyor-card>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="blueprint"></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div *ngIf="showConveyorMap">
        <app-conveyor-map [alertConveyorList]="alertConveyorList"></app-conveyor-map>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="list-icon" svgIcon="line-graph"></mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div *ngIf="showConveyorMap">
        <app-multy-sensors-chart [alertData]="alertData" [alertConveyorList]="alertConveyorList"></app-multy-sensors-chart>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>

