.page-header{
	margin: 33px 15px;
	color: white;
	.text-container{
		display: inline-block;
		.header-text{
			font-family: Roboto;
			font-size: 14px;
			text-transform: uppercase;
		}
		.header-text-bold{
			font-family: Roboto-Medium;
			font-size: 18px;
		}
	}
	.icon-container{
		display: inline-block;
		float: right;
		img{
			height: 100%;
			vertical-align: middle;
			margin: 0 15px;
			cursor: pointer;
		}
		.plus-icon{
			display: inline-block;
			line-height: 55px;
			height: 55px;
			width: 55px;
			text-align: center;
			color: black;
			font-family: Roboto;
			font-size: 32px;
			background-image: url('../../../assets/images/plus-icon.svg'); 
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}
}
.filter-container{
	height: 50px;
	margin: 20px 0;
	background: #424242;
	line-height: 50px;
	color: #DADDDF;
	font-family: Roboto;
	.filter-tabs{
		display: inline-block;
		padding: 0 25px;
		border-right: 1px solid #D8D8D8;
		font-size: 18px;
		font-family: Roboto;
		cursor: pointer;

		&:hover {
			background:#605F5F;
			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			transition:.3s;
		}
		&.selected{
			color: white;
			background: #605F5F;
			font-family: Roboto-Medium;
		}
	}
	.view-filter{
		float: right;
		border-left: 1px solid #D8D8D8;
		padding: 0 25px;
		font-family: Roboto;
		font-size: 18px;
		&:hover {
			background:#605F5F;
			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			transition:.3s;
		}
		span{
			color: #DADDDF;
			margin-right: 10px;
		}
		strong{
			margin-right: 10px;
		}
		a{
			background: none;
			color: white;
			border: none;
			height: 100%;
			cursor: pointer;
			span{
				font-size: 18px;
				font-family: Roboto;
			}
			&:hover{
				text-decoration: none;
			}
			&:focus{
				box-shadow: none;
				outline: none;
			}
		}
		ul{
			width: 100%;
			padding: 0;
			margin: 0;
			li{
				background: #9B9B9B;
				margin: 0;
				padding: 0;
				border-top: 1px solid #D8D8D8;
				cursor: pointer;
				a{
					padding: 0 0 0 20px;
					margin: 0;
				}
				&:hover{
					font-weight: bold;
					background: #79C6C9;
				}
			}
		}
	}
}
// TODO: delete (Temp solution)
.filter-container {
	display: none;
}
