<div *ngIf="showModal" class="popup-modal">
  <div class="modal-content">
    <div class="note-heading">
      <span>Log new issue</span>
      <img src="./assets/images/close-icon.svg" (click)="showModal =!showModal">
    </div>
    <div class="note-center">
      <span>Asset</span>
      <input type="text">
      <img src="./assets/images/search.svg">
    </div>
    <div class="note-center">
      <span>Issue</span>
      <input type="text">
    </div>
    <div class="note-center">
      <span>Type</span>
      <input type="text" placeholder="Failure">
      <img src="./assets/images/down-arrow-icon.svg">
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="showModal =!showModal">Save</button>
    </div>
  </div>
</div>
<div class="page-header">
  <!--<div class="text-container">-->
    <!--&lt;!&ndash; <div class="header-text">-->
      <!--<span>Site ID: {{site}}</span>-->
    <!--</div> &ndash;&gt;-->
    <!--<div class="header-text-bold">-->
      <!--<p>-->
        <!--&lt;!&ndash; {{title}} &ndash;&gt;-->
         <!--<span  *ngIf="site!='2'">(<a target="_blank" href="{{site_blueprint}}">View Blueprint</a>)</span>-->
       <!--</p>-->
     <!--</div>-->
   <!--</div>-->
   <div class="icon-container" style="display:none">
     <img src="./assets/images/list-icon.svg">
     <img src="./assets/images/grid-icon.svg">
     <div class="plus-icon" (click)="showModal =!showModal">+</div>
   </div>
 </div>

 <div class="filter-container">
   <div class="filter-tabs" *ngFor="let item of filterTabs; let i = index"
    [ngClass]="{'selected':(item.key==selectedFilterTab.key)}"
    (click)="selectFilter(item)">
     <span >{{item.name}}</span>
   </div>
   <div class="dropdown view-filter" (click)="toggleDropdown()">
     <a class="" tabindex="0"  (blur)="closeDropdown()">
         <span>Sort By</span>
         <strong>{{selectedViewBy.name}}</strong>
         <img src="./assets/images/down-arrow-icon.svg">
       </a>
     <ul class="dropdown-menu" [ngClass]="{'show': showDropdown}">
       <li class="dropdown-item filter-tabs" *ngFor="let item of viewBy; let i = index" (click)="selectViewBy(item)">
         <a>{{item.name}}</a>
       </li>
     </ul>
   </div>
 </div>

