.card-charts {
    border: none;
}

.notification-message {
    margin: 20px 50px;
    font-size: 1.2em;
}

.disable-slider-container {
    height: 35px;
    width: 100%;

    .notification-slider {
        height: 35px;
        margin: 0;
        width: 100%;
        background: transparent;
        border: none;
        text-shadow: none;
        box-shadow: none;
    }
}

.chart-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.title{
    margin-bottom:0px;
    font-family:'Roboto';
}
.value{
    text-decoration:underline;
    color:black;
}
.slider-container{
    padding-left:20px;
    padding-right:20px;
}
.slider{
    width:100%;
}
.sensor-photo {
  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
}
.line-chart-container {
    background-color:#F1F1F1;
    padding:20px;
    
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    &.loading{
            opacity:0.2;
			-o-transition:.3s;
			-ms-transition:.3s;
			-moz-transition:.3s;
			-webkit-transition:.3s;
			transition:.3s;
    }
}
