<div class="row no-margin">
  <div class="col">

    <div *ngIf="generalError" class="row">
      <div class="col card">
        <div class="alert alert-danger notification-message" role="alert">
          An error occurred. Please try again later.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col card">
        <div class="card-body">
          <div class="row slider-container">
            <nouislider class="slider" [connect]="true" [min]="dateRangeMin" [max]="dateRangeMax" [step]="dateRangeSteps" [(ngModel)]="dateRangeSelected"
              (change)="onChange($event)" [step]="2" [disabled]="disableDateSlider">
            </nouislider>

            <div class="disable-slider-container">
                <!-- <span *ngIf="disableDateSlider" class="alert alert-light notification-slider" role="alert">
                    Loading ......
                </span> -->
            </div>
          </div>
          <div class="row">
            <p class="col">{{dateRangeSelected[0]|date}}</p>
            <p class="col text-right">{{dateRangeSelected[1]|date}}</p>
          </div>
          <div class="row">
            <img class="sensor-photo" src="{{sensorPhotoURL}}">
          </div>
        </div>

      </div>
      <div class="col card">
        <div class="card-header first centered">
          <span>Activity Time</span>
        </div>
        <div class="divider"></div>

        <!-- <div *ngIf="donutChart.loading" class="alert alert-primary notification-message" role="alert">
          Loading ......
        </div> -->
        <div *ngIf="!showDonutChart() && !donutChart.loading" class="alert alert-danger notification-message" role="alert">
          No data records found for these selection criteria
        </div>

        <div class="chart-container">
          <nvd3 *ngIf="showDonutChart()" [options]="donutChart.d3Options" [data]="donutChart.data"></nvd3>
        </div>
      </div>
    </div>

    <div class="card card-charts" *ngFor="let sensorChart of sensorChartList">
      <div *ngIf="sensorChart.data.length > 0" class="card-header">
        <span>{{sensorChart.title}}</span>
      </div>
      <div *ngIf="sensorChart.data.length > 0" class="line-chart-container" [ngClass]="{'loading':(sensorChart.loading)}">
        <nvd3 [options]="sensorChart.d3Options" [data]="sensorChart.data"></nvd3>
      </div>
    </div>
  </div>
</div>
