<div class="container">
  <div class="row">
    <div class="col-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-10">
      <div id="users-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
