div.conveyortooltip {
  border: 1px solid royalblue;
  position: absolute;
  text-align: center;
  width: 140px;
  height: 70px;
  padding: 10px;
  background: #1a9bf7;
  color: white;
  text-align: left;
  border-radius: 4px;
  pointer-events: none;		
}

#info-card-box {
	width: 95%;
	height: 95%;
}
