<mat-card class="example-card">
		<toaster-container></toaster-container>
		<mat-card-header>
			<h2>Create account</h2>
		</mat-card-header>
	
		<mat-card-content>
			<div *ngIf="errorMessage!=null" class="alert alert-danger">
					{{ errorMessage }}
			</div>

			<form #registerForm="ngForm" (submit)="register()">
				<div>
					<mat-form-field>
						<input
							matInput
							type="text"
							class="form-contol"
							id="name" 
							name="name"
							placeholder="Name"
							[(ngModel)]="registrationUser.name"
							#userName="ngModel"
							minlength="5"
							maxlength="20"
							required />

						<div *ngIf="userName.invalid && userName.dirty && userName.touched">
							<div class="error-message" *ngIf="userName.errors.required">
									Name is required.
								</div>
							<div class="error-message" *ngIf="userName.errors.minlength">
								Name should not be less than 5 characters.
							</div>
						</div>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input
							matInput
							type="text"
							class="form-contol"
							id="email" 
							name="email"
							placeholder="Email"
							[(ngModel)]="registrationUser.email"
							[ngModelOptions]="{standalone: true}"
							#email="ngModel"
							pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
							required />
	
						<div *ngIf="email.invalid && email.dirty && email.touched">
							<div class="error-message" *ngIf="email.errors.required">
								Email is required.
							</div>
							<div class="error-message" *ngIf="email.errors.pattern">
								Please enter a valid Email.
							</div>
						</div>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<mat-select placeholder="Groups" [(ngModel)]="registrationUser.group" name="groups" multiple required>
							<mat-option *ngFor="let userGroup of userGroups" [value]="userGroup">
								{{ userGroup }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input
							matInput
							type="text"
							class="form-contol"
							id="phone" 
							name="phone"
							placeholder="Phone Number"
							[(ngModel)]="registrationUser.phone_number"
							[ngModelOptions]="{standalone: true}"
							pattern="^[\+][0-9]{11,15}$"
							#phone="ngModel"
							required />

						<div *ngIf="phone.invalid && phone.dirty && phone.touched">
							<div class="error-message" *ngIf="phone.errors.required">
								Phone number is required.
							</div>
							<div class="error-message" *ngIf="phone.errors.pattern">
								Please enter a valid Phone number.
							</div>
						</div>
					</mat-form-field>
				</div>
	
				<div>
					<mat-form-field>
						<input
							matInput 
							type="password"
							class="form-contol"
							id="password" 
							name="password"
							placeholder="Password at least 8 characters"
							[(ngModel)]="registrationUser.password"
							#password="ngModel"
							pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$"
							maxlength="25"
							minlength="8"
							required />

						<div *ngIf="password.invalid && password.dirty && password.touched">
							<div class="error-message" *ngIf="password.errors.required">
								Password is required.
							</div>
							<div class="error-message" *ngIf="password.errors.pattern">
								Please enter a valid Password.
							</div>
						</div>
					</mat-form-field>
				</div>

				<div>
					<span class="subscription-label">Subscription*</span>
	
					<ngb-timepicker 
						[(ngModel)]="registrationUser.subscription"
						[ngModelOptions]="{standalone: true}"
						[meridian]="meridian"
						#subscription="ngModel"
						required >
					</ngb-timepicker>
	
					<div *ngIf="subscription.invalid && subscription.dirty && subscription.touched">
						<div class="error-message" *ngIf="subscription.errors.required">
							Subscription is required.
						</div>
					</div>
				</div>

				<div class="buttons-container">
					<button
						mat-button
						(click)="back()"
						class="back-btn">
						Back
					</button>

					<button
						mat-raised-button
						type="submit"
						color="primary"
						[disabled]="!registerForm.form.valid" >
						Create your account
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>