.mat-card {
  margin: 5%;
  padding: 5%;
}

@media (max-width: 800px) {
  .mat-card {
    margin: 5%;
    padding: 12% 15% 8% 15%;
  }  
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.alert.alert-danger {
  color: lightcoral;
  font-size: 11px;
}

mat-card-content {
  margin-top: 5%;
}

.mat-form-field {
  width: 100%;
}

.error-message {
  color: lightcoral;
  font-size: 0.7em;
}

.buttons-container {
  margin-top: 40px;
}

.subscription-label {
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.125;
}
