.nav-bar{
  	height: 74px;
  	background: black;
  	color: white;
  	font-family: Roboto-Medium;
  	font-size: 18px;
  	ul{
  		display: flex;
  		height: 100%;
    	margin: 0;
      padding: 0;
    	.logo{
      		background: white;
      		justify-content: center;
      		width: 100px;
      		height: 74px;
      		padding: 0;
      		margin: 0;
    	}
    	.links{
    		padding-top: 30px;
    		margin: 0;
    	}
    	li{
    		margin: 0;
     		height: 100%;	
      		cursor: pointer;
      		display: flex;
      		padding: 0px 20px;
      		a{
      			color: white;
      		}
      		&.active{
      			font-weight: bold;
      			border-bottom: 4px solid white;
      		}
    	}
    	.search-bar{
    		padding-top: 5px;
    		margin-left: auto;
    	}
  	}
}
.mid-links{
  height: 60px;
  margin: 0;
  .link-item{
    border: none;
    border-top: 1px solid white;
    
    font-family: Roboto-Medium;
    font-size: 18px;
    
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    
  }
}
