<app-detail-page-header *ngIf="alert.conveyor" [alertInfo]="alert"></app-detail-page-header>
<app-modal-dialog [(show)]="modalVisible" [message]="modalMessage"></app-modal-dialog>
<!-- <div *ngIf="alert.conveyor" class="mid-links row">
  <div class="link-item col"
    [ngClass]="getCssClass(0)"
    (click)="insightsClick()">
    <span>Insights</span>
  </div>
  <div class="link-item col"
    [ngClass]="getCssClass(1)"
    (click)="actionsClick()">
    <span>Actions</span>
  </div>
</div> -->
<app-detail-insights *ngIf="selectedTab==0 && alert.conveyor" [alertDetails]="alert"></app-detail-insights>
<app-detail-actions *ngIf="selectedTab==1" [alertDetails]="alert"></app-detail-actions>

