<div class="row justify-content-lg-center">
	<div class="col-md-6">
		<table>
			<tr class="table-head">
				<th style="width:100px;"></th>
				<th colspan="2">Downtime (hrs)</th>
				<th colspan="2">Prvented Downtime (hrs)</th>
				<th colspan="2">Avg Response Time (min)</th>
				<th colspan="2">Run time vs Planned (%)</th>
				<th colspan="2">Failure vs baseline (%) </th>
			</tr>
			<tr class="time-section">
				<td></td>
				<td>PAST 30 DAYS</td>
				<td>PAST 7 DAYS</td>
				<td>PAST 30 DAYS</td>
				<td>PAST 7 DAYS</td>
				<td>PAST 30 DAYS</td>
				<td>PAST 7 DAYS</td>
				<td>PAST 30 DAYS</td>
				<td>PAST 7 DAYS</td>
				<td>PAST 30 DAYS</td>
				<td>PAST 7 DAYS</td>
			</tr>
			<tr class="data-section">
				<td routerLink="#" style="cursor:pointer;">
					<u>0089 WOOD</u>
				</td>
				<td class="peach">4</td>
				<td class="orange">0.5</td>
				<td class="orange">3</td>
				<td class="light-green">1.5</td>
				<td class="light-green">6</td>
				<td class="light-green">8</td>
				<td class="peach">95</td>
				<td class="orange">98</td>
				<td class="orange">0</td>
				<td class="light-green">-50</td>
			</tr>
			<tr class="data-section">
				<td>
					<u>1526 ZLOU</u>
				</td>
				<td class="orange">3</td>
				<td class="peach">1.5</td>
				<td class="peach">0</td>
				<td class="peach">0</td>
				<td class="peach">10</td>
				<td class="orange">14</td>
				<td class="orange">98</td>
				<td class="peach">95</td>
				<td class="peach">10</td>
				<td class="peach">30</td>
			</tr>
			<tr class="data-section">
				<td>
					<u>6534 PERL</u>
				</td>
				<td class="orange">2</td>
				<td class="light-green">0</td>
				<td class="light-green">4</td>
				<td class="light-green">0.5</td>
				<td class="light-green">5</td>
				<td class="light-green">4</td>
				<td class="orange">97</td>
				<td class="light-green">100</td>
				<td class="light-green">-10</td>
				<td class="light-green">-20</td>
			</tr>
		</table>
		<table>
			<tr class="table-head">
				<th style="width:100px;"></th>
				<th>High Priority Predicted Issues</th>
				<th>Low Priority Predicted Issues</th>
				<th style="width:450px;"></th>
				
			</tr>
			<tr class="time-section">
				<td></td>
				<td>Today</td>
				<td>Today</td>
				<td style="width:450px;"></td>
				
			</tr>
			<tr class="data-section">
				<td>
					<u>0089 WOOD</u>
				</td>
				<td class="peach">3</td>
				<td class="orange">5</td>
				<td style="width:450px;"></td>
				
			</tr>
			<tr class="data-section">
				<td>
					<u>1526 ZLOU</u>
				</td>
				<td class="peach">8</td>
				<td class="orange">4</td>
				<td style="width:450px;"></td>
				
			</tr>
			<tr class="data-section ">
				<td>
					<u>6534 PERL</u>
				</td>
				<td class="light-green">0</td>
				<td class="light-green">0</td>
				<td style="width:450px;"></td>
			</tr>
		</table>
	</div>
</div>