div{
	font-family: Roboto;
	color: white;
	margin: 30px;
	table{
		background: #424242;
		width: 100%;
		margin-bottom: 30px;
		.table-head{
			font-size: 18px;
			color: #d8d8d8;
		}
		.time-section{
			font-size: 12px;
			background: #d8d8d8;
			color: #6a6a6a;
		}
		.data-section{
			border-top: 5px solid #424242;
			td:nth-child(odd){
				border-right: 5px solid #424242;
			}
			td{
				font-family: 'Roboto';
				font-size:32px
			}
			td:first-child{
				font-family: 'Roboto';
				font-size:14px
			}
		}
		tr{
			height: 70px;
			.peach{
				background: #DF7A4E;
			}
			.orange{
				background: #E9A853;
			}
			.light-green{
				background: #b8ba4d;
			}
		}
		th, td{
			text-align: center;
			border-spacing: 0px;
			padding:5px;
		}
		
		td{
			font-family: 'Roboto-Bold'
		}
		
	}
}