.mat-card {
  margin: 5% 0;
  padding: 5%;
}

.profile-header {
  margin-bottom: 30px;
}

.profile-container {
  background: white;
  font-size: 12px;
}

.mypools-container {
  font-size: 12px;
}

.my-users-container,
.activity-container {
  margin-top: 20px;
}

.list-group-flush {
  margin-top: 3px;
  border-right: 0;
  border-left: 0;

  .list-group-item {
    border-bottom: 0;
      border-right: 0;
  border-left: 0;

    &:first-child {
      border-top: 0;
    }
  }
}

.width-10p {
  width: 10%;
}

.width-15p {
  width: 15%;
}

.width-20p {
  width: 20%;
}

.width-30p {
  width: 30%;
}

.width-40p {
  width: 40%;
}

.user-group-container {
  margin-bottom: 40px;
}

.user-group {
  margin-right: 5px;
}
