<mat-card class="example-card">
		<toaster-container></toaster-container>
		<mat-card-header>
      <h2 class="profile-header">My Profile Parameters</h2>
		</mat-card-header>
	
		<mat-card-content>

        <div class="profile-container">
            <div class="container user-group-container">
              <span *ngFor="let userGroup of userGroups" class="user-group">
                <button 
                  type="button" 
                  (click)="selectUserGroup(userGroup)"
                  class="btn btn-info btn-lg" 
                  [class.active]="userGroup==activeGroup" >
                  {{userGroup}}
                </button>
              </span>
            </div> 

            <div *ngIf="users.length > 0" class="container my-users-container">
              <h4>Users with group {{activeGroup}}</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="width-15p">Name</th>
                    <th scope="col" class="width-30p">Attributes</th>
                    <th scope="col" class="width-15p">Create Date</th>
                    <th scope="col" class="width-20p">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
          
                  <tr *ngFor="let user of users; let i = index">
                    <td scope="row">{{user.Username}}</td>
                    <td>
                      <button 
                        class="btn btn-info" 
                        type="button" 
                        data-toggle="collapse" 
                        [attr.data-target]="'#' + i"
                        aria-expanded="false" 
                        aria-controls="collapseExample" >
                        Attributes
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
          
                      <div class="collapse" id="{{i}}">
                        <ul class="list-group list-group-flush">
                          <li *ngFor="let attribute of user.Attributes" class="list-group-item">
                            {{attribute.Name}}- {{attribute.Value}}
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>{{user.UserCreateDate | date}}</td>
                    <td>{{user.UserStatus}}</td>
                    <td>
                      <button type="button" (click)="loadActivity(user.Username, userActivity)" class="btn btn-primary float-right">
                        Activity
                      </button>
                    </td>
                    <td>
                      <button type="button" (click)="editUser(user.Username)" class="btn btn-primary float-right">
                        Edit
                      </button>
                    </td>
                    <td>
                      <button type="button" (click)="destroyUser(user.Username)" class="btn btn-danger float-right">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div #userActivity class="container activity-container">
              <h4 *ngIf="activity_events.length > 0" class="page-header">User Activity</h4>
              <table *ngIf="activity_events.length > 0" class="table">
                <thead>
                  <tr>
                    <th scope="col">Event Type</th>
                    <th scope="col">Create Date</th>
                    <th scope="col">Risk Decision</th>
                    <th scope="col">Risk level</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of activity_events">
                    <td>{{ event.EventType }}</td>
                    <td>{{ event.CreationDate | date }}</td>
                    <td>{{ event.EventRisk.RiskDecision }} </td>
                    <td>{{ event.EventRisk.RiskLevel }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
    </mat-card-content>
	</mat-card>

