<nav class="nav flex-column nav-pills nav-container">
  <a class="btn btn-secondary btn-lg" role="button" *ngFor="let menuItem of menuItems" [routerLink]="menuItem.routerLink">
    {{menuItem.name}}
  </a>
</nav>
