<mat-card>
  <mat-card-header>
    <h2 class="profile-header">{{action}}</h2>
  </mat-card-header>
  <form #verificationEmailForm="ngForm">
    <div mat-dialog-content>
      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="sensor" name="sensor" placeholder="Sensor" [(ngModel)]="sensor.sensor"
            [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="description" name="description" placeholder="Description"
            [(ngModel)]="sensor.description" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="manufacturer" name="manufacturer" placeholder="Manufacturer"
            [(ngModel)]="sensor.manufacturer" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="conveyor" name="conveyor" placeholder="Conveyor"
            [(ngModel)]="sensor.conveyor" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="location" name="location" placeholder="Location"
            [(ngModel)]="sensor.location" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="equipment" name="equipment" placeholder="Equipment"
            [(ngModel)]="sensor.equipment" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="m_sensor" name="m_sensor" placeholder="m_sensor"
            [(ngModel)]="sensor.m_sensor" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="standards_score" name="standards_score" placeholder="standards_score"
            [(ngModel)]="sensor.standards_score" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="temp_score" name="temp_score" placeholder="temp_score"
            [(ngModel)]="sensor.temp_score" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="vvrms_score" name="vvrms_score" placeholder="vvrms_score"
            [(ngModel)]="sensor.vvrms_score" [ngModelOptions]="{standalone: true}" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="thresholds" name="thresholds" placeholder="thresholds"
            [(ngModel)]="sensor.thresholds" [ngModelOptions]="{standalone: true}" #email="ngModel" required />
        </mat-form-field>
      </div>


    </div>
    <div class="buttons-container">
      <button mat-button (click)="onNoClick()">
        Back
      </button>
      <button mat-raised-button color="primary" [mat-dialog-close]="sensor" cdkFocusInitial>
        {{action}}
      </button>
    </div>
  </form>
</mat-card>
