<mat-card>
  <mat-card-header>
    <h2 class="profile-header">Verify a New Email Address</h2>
  </mat-card-header>
  <form #verificationEmailForm="ngForm">
    <div mat-dialog-content>
      <div>
        <mat-form-field>
          <input matInput type="text" class="form-contol" id="email" name="email" placeholder="Email" [(ngModel)]="verificationEmail"
            [ngModelOptions]="{standalone: true}" #email="ngModel" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
            required />
          <div *ngIf="email.invalid && email.dirty && email.touched">
            <div class="error-message" *ngIf="email.errors.required">
              Email is required.
            </div>
            <div class="error-message" *ngIf="email.errors.pattern">
              Please enter a valid Email.
            </div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="buttons-container">
      <button mat-button (click)="onNoClick()">
        Back
      </button>
      <button mat-raised-button color="primary" [mat-dialog-close]="verificationEmail" [disabled]="email.invalid" cdkFocusInitial>
        Verify This Email Address
      </button>
    </div>
  </form>
</mat-card>