<div class="info-card fade-in" [ngClass]="{'priority-1':(item.priority==1), 'priority-2':(item.priority==2), 'priority-3':(item.priority==3), 'priority-4':(item.priority==4)}"
  (click)="insightsClick(item)">
  <div class="container">
    <div class="row">
      <div class="col-sm-9  info-card-title">
        <p class="title-text">{{item.conveyor}}</p>
      </div>
      <div class="col-sm-3 info-card-title right-corner">
          <p class="text-center title-text right-corner">{{item.label}}</p>
      </div>
    </div>
    
  </div>

  <!-- <div>
    <div class="info-card-container title">
      <div class="info-card-title">
        <span>{{item.conveyor}}</span>
      </div>
    </div>
    <div class="info-card-container title-right-corner">
      <div class="info-card-title">
        <span>{{item.sensor}}</span>
      </div>
    </div>
  </div> -->
  <!-- <div class="info-card-divider">
  </div> -->
  <!-- <div style="position:absolute;height:152px;width:300px;background:black;opacity:0.3"></div> -->
  <div class="info-card-container bottom">
    <div class="equipment-icon" [ngClass]="{'dark':(item.priority==2 || item.priority==4)}">
      <img src={{item.equipment_icon}}>
    </div>
    <div class="info-card-text description">
      <span class="manufacturer">{{item.manufacturer}}</span>
      <span class="description">{{item.description | labelLength: 50}}</span>
    </div>
  </div>
</div>