.alert-top{
	
	padding: 19px 50px 0 50px;
	margin: 0;
	.info-text-section{
		position: relative;
		width: 50%;
		
		.issue-icon{
			position: absolute;
			left: -34px;
		}
		.time-text{
			font-family: Roboto;
			font-size: 12px;
			text-transform: uppercase;
		}
		.heading{
			font-family: Roboto-Bold;
			font-size: 24px;
			margin-bottom: 10px;
		}
		.prediction{
			font-family: Roboto-Medium;
			font-size: 18px;
			margin-bottom: 15px;
		}
		.asset{
			font-family: Roboto;
			font-size: 12px;
			margin-bottom: 20px;
		}
	}
	.button-section{
		width: 50%;
		.priority-2{
			border: 1px solid black;
		}
		.priority-3{
			border: 1px solid black;
		}
		button{
			float: right;
			margin: 21px 0 0 35px;
			font-family: Roboto-Medium;
			font-size: 16px;
			border: 1px solid white;
			height: 40px;
			width: 200px;
			border-radius: 100px;
			cursor: pointer;
			&:focus{
				outline: none;
			}
		}
	}
}