<div>
  <div class="alert-top row" 
  [ngClass]="{'priority-1':(alert.priority==1), 'priority-2':(alert.priority==2), 'priority-3':(alert.priority==3), 'priority-4':(alert.priority==4)}">

    <div class="info-text-section">
      <!-- <div class="issue-icon" [ngClass]="{'priority-1':(alert.priority==1), 'priority-2':(alert.priority==2), 'priority-3':(alert.priority==3), 'priority-none':true}">
          <div class="issue-icon">
        <img src="./assets/images/pm-white-icon.svg">
      </div> -->
      <!-- <div class="issue-icon" [ngClass]="{'priority-1':(alert.priority==1), 'priority-2':(alert.priority==2), 'priority-3':(alert.priority==3), 'priority-none':true}">
          <div class="issue-icon">
        <img src="./assets/images/pm-white-icon.svg">
      </div> -->
      <!-- <div class="time-text">
        <span>{{alert.sensor}}</span>
      </div> -->
      <div class="heading">
        <span>{{alert.conveyor}}</span>
        <span *ngIf="site!='2'">
          (<a target="_blank" href="{{blueprintLink}}">View Blueprint</a><span *ngIf="alert.equipment=='M'">, <a target="_blank" href="{{plcLink}}">View PLC data</a></span>)
        </span>
      </div>
      <div class="prediction">
        <span>{{alert.description}}</span>
      </div>
      <div class="asset">
        <span>{{alert.location_text}}</span>
      </div>
    </div>

    <!-- <div class="button-section mb-4">
      <button  (click)="escalateClick()" [ngClass]="{'priority-1':(alert.priority==1), 'priority-2':(alert.priority==2), 'priority-3':(alert.priority==3), 'priority-none':true}">
        Escalate</button>
      <button  (click)="acknowledgeClick()" [ngClass]="{'priority-1':(alert.priority==1), 'priority-2':(alert.priority==2), 'priority-3':(alert.priority==3), 'priority-none':true}">
        Acknowledge &amp; Log</button>
    </div> -->

  </div>
</div>
