.nav-bar{
  	height: 74px;
  	background: black;
  	color: white;
  	font-family: Roboto-Medium;
  	font-size: 18px;
  	ul{
  		display: flex;
  		height: 100%;
    	margin: 0;
      padding: 0;
    	.logo{
      		background: white;
      		justify-content: center;
      		width: 100px;
      		height: 74px;
      		padding: 0;
					margin: 0;
					.mhs-logo{
						padding:10px;
						width: 100%;
						height: 100%;
						object-fit:contain;
						}
					.back-btn {
						margin-top: 25px;
						height: 25px;
						width: 25px;
					}
    	}
    	.links{
    		padding-top: 30px;
    		margin: 0;
    	}
    	li{
    		margin: 0;
     		height: 100%;	
      		cursor: pointer;
      		display: flex;
      		padding: 0px 20px;
      		a{
      			color: white;
      		}
      		&.active{
      			font-weight: bold;
      			border-bottom: 4px solid white;
					}
					
					.logout-bnt {
						border: none;
						background: transparent;
						padding: 0;
						margin: 0;
						float: left;
						height: 68%;

						&:hover{
							text-decoration: underline;
						}
					}

					.dropdown-item {
						color: #3D4A57;
						font-size: 13px;
					}		
			}

			.site-dropdown {
				margin-left: auto;
			}
			
    	.search-bar{
    		margin-left: auto;
        input{
          font-family: Roboto;
          font-size: 18px;
          background: black;
          border: none;
          margin: 15px 10px;
          color: white;
          direction:RTL;
          &:focus{
            color: black;
            outline: none;
            background: white;
          }
        }
        img{
				
          padding-top: 5px;
          &:focus{
            outline: none;
          }
        }
    	}
  	}
}

.active-site-name {
	font-size: 14px;
}
