<nav class="nav-bar">
  <ul>
    <li routerLink="#" class="logo">
      <img src="./assets/images/mhs_logo.svg" class="mhs-logo">
    </li>

    <ng-container *ngIf="visible">
        <li class="links">
            <a routerLink="/alerts" routerLinkActive="active">Alerts</a>
        </li>
      <li *ngIf="isAdmin" class="links nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/admin/myprofile" routerLinkActive="active" class="dropdown-item">List Users</a>
          <div class="dropdown-divider"></div>
          <a routerLink="/admin/sensors" routerLinkActive="active" class="dropdown-item">List Sensors</a>
        </div>
      </li>    
    </ng-container>

    <li class="links">
      <button (click)="logout()" class="logout-bnt">Logout</button>
    </li>

    <li class="links site-dropdown">
      <mat-form-field>
        <mat-select 
          placeholder="{{activeSiteName}}" 
          [(ngModel)]="siteId" 
          name="activeSiteName" 
          (ngModelChange)="setSiteId($event)" 
          [disabled]="siteList.length == 1">
          <mat-option *ngFor="let site of siteList" [value]="site.site_id">
            {{ site.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
  <!-- <li class="search-bar">
    <input #box (keyup.enter)="performSearch(box.value)">
    <img src="./assets/images/search.svg" (click)="performSearch(box.value)" routerLink="/search">
  </li> -->
</nav>

<nav class="nav-bar">
  <ul>
    <li *ngIf="showBackButton" (click)="goBack()" class="logo">
      <img class="back-btn" src="./assets/images/back.svg">
    </li>
    <li *ngIf="!visible" class="links">
      <p>{{title}}</p>
    </li>
    <!-- <li class="search-bar" *ngIf="visible">
      <input #box (keyup.enter)="performSearch(box.value)">
      <img src="./assets/images/search.svg" (click)="performSearch(box.value)" routerLink="/search">
    </li> -->
  </ul>
</nav>
