path {
  stroke: #ccc;
  stroke-width: 2;
  fill: none;
}

.chart-container {
  background: white;
  border: 1px dotted orangered;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#legendContainer {
  // position: absolute;
  top: 60px;
  left: 10px;
  overflow: auto;
  height: 490px;
  width: 110px;
}

#legend {
  width: 90px;
  height: 200px;
}

.legend {
  font-size: 12px;
  font-weight: normal;
  text-anchor: left;
}

.legendcheckbox {
  cursor: pointer;
}

#showAll {
  position: absolute;
  top: 600px;
  left: 880px;
}

#clearAll {
  position: absolute;
  top: 600px;
  left: 950px;
}

input {
  border-radius: 5px;
  padding: 5px 10px;
  background: #999;
  border: 0;
  color: #fff;
}

#inds {
  position: absolute;
  top: 10px;
  left: 10px;
}

mat-selection-list,
mat-form-field {
  width: 50%;
  margin-top: 20px;
  padding-right: 20px;
}

.chart-filter-continer {
  padding-left: 10%;
  padding-right: 10%;
  background: white;

  mat-spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 3%;
  }
}

.multy-sensor-slider {
  width: 100%;
  display: inline-block;

  .date-range-header {
    font-size: 13px;
    color: #757575;
    text-align: left;
  }

  nouislider {
    width: 50%;
    display: inline-block;
    margin: 10px 0 20px;
    padding-right: 20px;
  }
}

.mat-form-field {
  font-size: 17px;
}

.alert-priority-1 {
  color: #CC4021;
}

.alert-priority-2 {
  color: #DDDF00;
}

.alert-priority-3  {
  color: #28a745;
}

.alert-priority-4  {
  color: #F1F1F1;
}

.mat-option[aria-disabled=true] {
  .alert-priority-1 ,
  .alert-priority-2 ,
  .alert-priority-3 ,
  .alert-priority-4  {
    color: #999;
  }
}

.date-slider-values {
  display: inline-block;
  width: 50%;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
  font-size: 17px;
  color: #212121;
}

.start-date-label {
  margin-bottom: 0;
}
