<div class="chart-filter-continer">
  <toaster-container></toaster-container>
  <mat-spinner *ngIf="loading" [diameter]="30" color="primary"></mat-spinner>
  <mat-form-field>
    <mat-select 
      #sensorsSelect
      placeholder="Sensors"
      [(ngModel)]="sensors"
      (ngModelChange)="setSensors($event)"
      (openedChange)="openedChange($event)"
      [disabled]="loading"
      name="sensors"
      multiple>
      <mat-optgroup class="select-sensor-optgroup" *ngFor="let alert of selectSensors"
        [label]="alert.location">
        <mat-option 
          *ngFor="let sensorData of alert.sensors" 
          [value]="sensorData.sensor" >
          <span class="alert-priority-{{sensorData.priority}}">
            Sensor: {{ sensorData.sensor }} Conveyor: {{ sensorData.conveyor }} Desc: {{ sensorData.description }}
          </span>
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Chart Type" [(ngModel)]="activeChart" (ngModelChange)="setSensorCharts($event)" name="groups" [disabled]="loading">
      <mat-option *ngFor="let sensorChart of selectSensorCharts" [value]="sensorChart.key">
        {{ sensorChart.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="multy-sensor-slider">
    <p class="date-range-header">Date range:</p>
    <div class="date-slider-values">
      <p class="start-date-label">Start date: {{dateRangeSelected[0]|date}}</p>
      <p>End Date: {{dateRangeSelected[1]|date}}</p>
    </div>
    <nouislider class="slider" [connect]="true" [(ngModel)]="dateRangeSelected" (change)="onChange($event)" [step]="2" [min]="dateRangeMin"
      [max]="dateRangeMax" [disabled]="loading">
    </nouislider>
  </div>
</div>
<div *ngIf="sensorCharts && sensorCharts.data.length > 0" class="card card-charts">
  <div *ngIf="sensorCharts.data.length > 0" class="card-header">
    <span>{{sensorChart.title}}</span>
  </div>
  <div *ngIf="sensorCharts.data.length > 0" class="line-chart-container" [ngClass]="{'loading':(sensorCharts.loading)}">
    <nvd3 [options]="sensorCharts.d3Options" [data]="sensorCharts.data"></nvd3>
  </div>
</div>
<div id="buttons-container"></div>
