<form class="form-signin" method="POST" action="#" role="form">
    <div class="form-group">
        <h2>Login</h2>
    </div>
    <div *ngIf="errorMessage!=null" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div *ngIf="!mfaStep">
        <div class="form-group">
            <label class="control-label" for="signupEmail">Email</label>
            <input id="signupEmail" required type="email" maxlength="100" class="form-control" [(ngModel)]="email"
                   [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
            <label class="control-label" for="signupPassword">Password</label>
            <input id="signupPassword" required type="password" maxlength="25" class="form-control"
                   length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-info btn-block">
                Login
            </button>
        </div>

        <hr>
        <p>
            <a [routerLink]="['/home/register']"> <i class="fa fa-fw fa-group"></i> Register</a>
            <a [routerLink]="['/home/forgotPassword']"> <i class="fa fa-fw fa-group"></i> Forgot Password?</a><br/>
            <a [routerLink]="['/home/resendCode']"> <i class="fa fa-fw fa-group"></i> Resend Confirmation Code</a>
        </p>

    </div>

    <div class="form-group" *ngIf="mfaStep">
        <awscognito-mfa [destination]="mfaData.destination"
                        [onSubmit]="mfaData.callback"></awscognito-mfa>
        <hr>
        <a href="javascript:void(0)" (click)="cancelMFA()">Cancel</a>
    </div>
</form>

