/* You can add global styles to this file, and also import other style files */

@import "~nouislider/distribute/nouislider.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~angular2-toaster/toaster';
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(./assets/fonts/Roboto/Roboto-LightItalic.ttf);
}

body {
  //background: #2C2C2C;
  margin: 0;
  overflow-x: hidden;
}

.no-margin {
  margin: 0;
}

.priority-1 {
  background: #CC4021;
  color: #F1F1F1;
  &:hover {
    background: #A01507;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  &:active {
    background: #660C03;
  }
  .info-card-divider {
    border-top: 1px solid #A01507;
    margin: 10px 10px 0 10px;
    ;
  }
  .my-button {
    background: linear-gradient(#CE2E10, #A01507);
    box-shadow: inset 0 1px 0px #660C03, 0 3px 0px #660C03;
    &:hover {
      box-shadow: inset 0 1px 0px #660C03;
    }
  }
}

.priority-2 {
  background: #DDDF00;
  color: black;
  &:hover {
    background: #B0B200;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  &:active {
    background: #757702;
  }
  .info-card-divider {
    border-top: 1px solid #B0B200;
    margin: 10px 10px 0 10px;
  }
  .my-button {
    background: linear-gradient(#DDDF00, #B0B200);
    box-shadow: inset 0 1px 0px #757702, 0 3px 0px #757702;
    &:hover {
      box-shadow: inset 0 1px 0px #757702;
    }
  }
}

.priority-3 {
  background: #28a745;
  color: #F1F1F1;
  &:hover {
    background: #1c7531;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  &:active {
    background: #19682b;
  }
  .info-card-divider {
    border-top: 1px solid #1c7531;
    margin: 10px 10px 0 10px;
    ;
  }
  .my-button {
    background: linear-gradient(#28a745, #19682b);
    box-shadow: inset 0 1px 0px #19682b, 0 3px 0px #19682b;
    &:hover {
      box-shadow: inset 0 1px 0px #19682b;
    }
  }
}

.priority-3-blue {
  background: #00A5E3;
  color: #F1F1F1;
  &:hover {
    background: #056F97;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  &:active {
    background: #035473;
  }
  .info-card-divider {
    border-top: 1px solid #056F97;
    margin: 10px 10px 0 10px;
    ;
  }
  .my-button {
    background: linear-gradient(#00A5E3, #056F97);
    box-shadow: inset 0 1px 0px #035473, 0 3px 0px #035473;
    &:hover {
      box-shadow: inset 0 1px 0px #035473;
    }
  }
}

.priority-4 {
  background: #F1F1F1;
  color: #424242;
  &:hover {
    background: #A2A2A2;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
  }
  &:active {
    background: #828282;
  }
  .info-card-divider {
    border-top: 1px solid #056F97;
    margin: 10px 10px 0 10px;
    ;
  }
  .my-button {
    background: linear-gradient(#00A5E3, #056F97);
    box-shadow: inset 0 1px 0px #035473, 0 3px 0px #035473;
    &:hover {
      box-shadow: inset 0 1px 0px #035473;
    }
  }
}

.card {
  font-family: Roboto-Medium;
  font-size: 12px;
  margin: 30px 50px;
  border-radius: 0;
  background-color: #F1F1F1;
  &.black-card {
    height: 1193px;
    background: #424242;
    .card-header {
      background: #424242;
      color: white;
      padding-top: 35px;
    }
  }
  table {
    margin: 19px 0 0 21px;
    font-size: 16px;
    width: calc(100% - 42px);
    color: #9e9e9e;
    .table-head {
      background: #d8d8d8;
    }
    tr {
      td,
      th {
        padding-top: 10px;
      }
      td {
        padding-bottom: 10px;
      }
      .status-text {
        color: #d8d8d8;
      }
    }
  }
  .card-header {
    font-size: 18px;
    font-family: Roboto-Bold;
    border: none;
    background: #F1F1F1;
    padding: 19px 0 0 21px;
    &.first {
      padding-top: 35px;
    }
    .teammate-container {
      margin: 10px 0 25px 10px;
      .clickable {
        width: 25px;
        cursor: pointer;
      }
      .user-photo {
        width: 40px;
      }
      img {
        width: 65px;
        border-radius: 30px;
        margin-right: 15px;
      }
    }
  }
  .card-body {
    font-size: 14px;
    padding-bottom: 0;
    .parts-container {
      margin-bottom: 10px;
      font-family: Roboto-Bold;
      .info-text-container {
        display: inline-block;
        .part-status {
          color: #CC4021;
        }
        .part-info {
          font-family: Roboto-Italic;
        }
      }
    }
  }
  .grey-text {
    color: #9e9e9e;
  }
  canvas {
    padding: 24px 21px 46px 21px;
  }
  .divider {
    height: 2px;
    background: #c8c9cc;
    margin: 15px 21px 0 21px;
  }
  .full-divider {
    height: 2px;
    background: #c8c9cc;
    margin: 0;
  }
  .tile-action {
    float: right;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 120px;
    border-left: 1px solid #c8c9cc;
    color: #079936;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    &.first {
      height: 103px;
      line-height: 103px;
    }
    &.green {
      background: #079936;
    }
    &.red {
      background: red;
    }
  }
  .tile-content {
    display: inline-block;
  }
  .issue-title {
    margin-bottom: 20px;
  }
}

.noUi-target {
  height: 5px;
  box-shadow: none;
  background: none;
  border: none;
}

.noUi-connect {
  background: #79C6C9;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: -9px;
  top: -9px;
  background-color: #79C6C9;
  box-shadow: none;
}

.noUi-base {
  height: 2px;
  background: #BFC2C4;
}

.noUi-handle:after,
.noUi-handle:before {
  width: 0px;
}

.nv-background {
  fill: #F1F1F1;
}

.nvd3-svg {
  background-color: #F1F1F1;
}

text {
  font-family: 'Roboto';
  font-size: 14px;
  fill: #4A4A4A;
}

.nvd3 g.nv-groups path.nv-point {
  display: none;
}

.nvd3 g.nv-groups path.nv-line {
  stroke-width: 3px;
  fill-opacity: 0;
}

.nvd3 .nv-axis.nv-x path.domain,
.nvd3 .nv-axis.nv-y path.domain {
  stroke-opacity: 1;
  stroke-width: 1px;
  stroke: #9BA3AF;
}

.round-button {
  float: right;
  margin: 21px 0 0 35px;
  color: white;
  font-family: Roboto-Medium;
  font-size: 16px;
  border: 1px solid white;
  height: 40px;
  width: 200px;
  border-radius: 100px;
  background: #bd3619;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.white-black {
    background: white;
    font-size: 14px;
    color: black;
    margin: -10px 19px 0 19px;
    border: 1px solid black;
  }
  &.grey-white {
    background: #4a4a4a;
    margin: auto;
    float: none;
  }
}

.popup-modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-content {
    background-color: #2c2c2c;
    margin: auto;
    width: 340px;
    height: 490px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-size: 14px;
    color: #d8d8d8;
    &.issue-modal {
      height: 270px;
    }
    &.notification-modal {
      height: 200px;
    }
  }
  .note-heading {
    height: 60px;
    font-family: Roboto-Bold;
    font-size: 18px;
    background: white;
    color: black;
    padding: 20px;
    span {
      line-height: 20px;
    }
    img {
      float: right;
      cursor: pointer;
    }
  }
  .note-center {
    padding: 30px 20px 0 20px;
    position: relative;
    input {
      margin-top: 5px;
      width: 300px;
      height: 50px;
      background: #4a4a4a;
      border: 1px solid white;
      padding-left: 10px;
      font-size: 18px;
      color: #d8d8d8;
      &::-webkit-input-placeholder {
        color: #d8d8d8;
      }
    }
    textarea {
      height: 242px;
      width: 300px;
      background: #4a4a4a;
      font-size: 18px;
      color: #d8d8d8;
    }
    img {
      position: absolute;
      bottom: 15px;
      right: 30px;
    }
  }
  .modal-button {
    margin-top: 40px;
    text-align: center;
  }
}

.site-dropdown {
  .mat-form-field {
    width: 155px;
    height: 30px;
    .mat-form-field-infix {
      border-top: none;
      padding: 0px;
    }
    .mat-form-field-label-wrapper {
      display: none;
    }
  }
  .mat-form-field-infix .mat-select-value {
    color: white;
  }
  .mat-select-arrow {
    color: white !important;
    margin: -4px 4px 0 4px !important;
  }

  .mat-focused.mat-primari .mat-select-arrow {
    color: white !important;
    margin: -4px 4px 0 4px !important;
  }

  .mat-form-field-hide-placeholder .mat-select-placeholder {
    color: white;
    text-align: right;
    font-size: 13px;
  }

  span.mat-select-value-text.ng-star-inserted {
    color: white !important;
    text-align: right !important;
    font-size: 13px !important;
    float: right;
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none;
  }
}

.site-dropdown {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: black;
    display: none;
  }
}

.mat-tab-labels {
  float: right;
  mat-icon {
    width: 45px;
    height: 45px;
  }
  .list-icon {
    width: 28px;
    height: 28px;
  }
}

.mat-tab-list {
  background-color: #424242;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white;
}

div.conveyortooltip {
  border: 1px solid royalblue;
  position: absolute;
  text-align: center;
  width: 140px;
  height: 70px;
  padding: 10px;
  background: #1a9bf7;
  color: white;
  text-align: left;
  border-radius: 4px;
  pointer-events: none;
}

svg#svg2 {
  background-color: white;
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
  color: #a7adb3;
}

.btn-outline-primary {
  color: #a7adb3;
  border: 1px solid #a7adb3;
}

.mat-select-content {
  font-size: 12px;
}

.date-slider-label .mat-figure {
  font-size: 17px;
  color: #757575;
}

.start-date-value {
  .mat-figure {
    justify-content: left !important;
    padding-left: 16% !important;
  }
}

.end-date-value {
  .mat-figure {
    justify-content: right !important;
    padding-right: 16% !important;
  }
}

// .ng-trigger.ng-trigger-transformPanel.ng-tns-c3-6 {
//   height: 80%;
//   max-height: 80%;
// }

// .cdk-overlay-pane {
//   height: 80%;
//   max-height: 80%;
// }

.mat-select-panel .mat-optgroup .mat-optgroup-label {
  font-size: 17px;
  font-weight: 700;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.select-sensor-optgroup-loading {
  position: relative;
  opacity: 1;
  transition: opacity linear 0.1s;

  .mat-optgroup-label {
    position: relative;
  }
  
  .mat-optgroup-label::after {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    right: 0;
    top: 32px;
    opacity: inherit;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
  }
}
.nvtooltip.xy-tooltip {
  z-index: 3000;
  border: 1px solid royalblue;
  text-align: center;
  width: 140px;
  padding: 10px;
  background: #1a9bf7;
  color: white;
  text-align: left;
  border-radius: 4px;
  pointer-events: none;

  .value {
    padding-left: 10px;
  }
}
.buttons-container.mat-grid-tile .mat-figure {
  left: auto;

  button {
    margin-right: 3px;
  }
}

.sensor-tresholds {
  width: 90%;
}

.mat-grid-tile.tile-tresholds .mat-figure {
  align-items: baseline;
}

/** IE 11 fixes */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  /** IE 11 fixes */
  .mat-select-panel {
    min-width: inherit !important;
  }
  .cdk-overlay-pane {
    display: block;
  }
}
