<mat-card>
  <div mat-dialog-content>
    <h3>{{data.message}}</h3>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="'confirm'" cdkFocusInitial>
      Ok
    </button>
  </div>
</mat-card>
