<div *ngIf="show" class="popup-modal">
  <div class="modal-content issue-modal" *ngIf="showIssueModal">
    <div class="note-heading">
      <span>Issue Resolved?</span>
      <img src="./assets/images/close-icon.svg" (click)="toggleIssueModal(); toggleModal();">
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="resolveIssue(true); toggleIssueModal(); toggleNoteModal();">Yes</button>
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)=" resolveIssue(false); toggleIssueModal(); toggleNoteModal();">No</button>
    </div>
  </div>
  <div class="modal-content note-modal" *ngIf="showNoteModal">
    <div class="note-heading">
      <span>Issue Resolved?</span>
      <img src="./assets/images/close-icon.svg" (click)="toggleNoteModal(); toggleModal();">
    </div>
    <div class="note-center">
      <span>Add your note about the issue</span>
      <textarea></textarea>
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="toggleNoteModal(); toggleModal();">Save</button>
    </div>
  </div>
  <div class="modal-content notification-modal" *ngIf="showNotificationModal">
    <div class="note-heading">
      <span>Notification Sent to teammate</span>
      <img src="./assets/images/close-icon.svg" (click)="toggleNotificationModal(); toggleModal();">
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="toggleNotificationModal(); toggleModal();">Ok</button>
    </div>
  </div>
</div>

<!-- 
<div *ngIf="show" class="popup-modal">
  <div class="modal-content notification-modal">
    <div class="note-heading">
      <span>{{message}}</span>
      <img src="./assets/images/close-icon.svg" (click)="toggleModal()">
    </div>
    <div class="modal-button">
      <button class="round-button grey-white" (click)="toggleModal()">Ok</button>
    </div>
  </div>
</div> -->